@import "../metronic/vendors/keenicons/duotone/style.css";
@import "../metronic/vendors/keenicons/filled/style.css";
@import "../metronic/vendors/keenicons/solid/style.css";
@import "../metronic/vendors/keenicons/outline/style.css";
@import "../metronic/css/styles.css";

/* @import 'datatables.net-dt';
@import 'datatables.net-responsive-dt';
@import 'datatables.net-select-dt'; */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#__next {
    display: contents;
}

/* global.css */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 8px;
}

.font-plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

input {
    font-size: 12px !important;
}

th {
    @apply p-2 text-[12px];
}

td {
    @apply p-2 text-[12px];
}

.card-footer {
    @apply text-[12px];
}